.pagina-home {
  display: flex;
  flex-direction: column;
  background-image: url('../../../public/assets/images/BackgroundD.png');
  background-repeat: repeat-y;
  background-size: cover;

  main {

    .sessaoInicial {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;


      .align {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 3vw;
        width: 50vw;
        height: 500PX;
        background-color: #221059;
        box-shadow: 0px 0px 150px#221059;

        h1 {
          color: #F4952F;
          font-weight: 800;
          cursor: default;
          width: 25vw;
        }

        h1:hover {
          text-shadow: 0px 00px 20px #F4952F;
          transition: 0.2s;
          color: #fff;
        }

        .direction {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 4vw;

          a {
            text-decoration: none;
            color: #fff;
            font-weight: 500;
            border: solid 2px #fff;
            padding: 10px 30px;
            border-radius: 12px;
          }

          a:hover {
            color: #433572;
            background-color: #F4952F;
            padding: 10px 30px;
            border-radius: 12px;
            font-weight: 700;
            transition: 0.2s;
            box-shadow: 0px 00px 50px #F4952F;
            border: solid 1px #F4952F;
          }

          .line {
            background-color: #fff;
            width: 0.2vw;
            height: 9vh;
          }
        }

      }
    }

    .sessaoFinal {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 5vw;
      margin-top: 1vh;

      h2 {
        color: #fff;
        font-weight: 800;
        cursor: default;
      }

      h2:hover {
        text-shadow: 0px 00px 20px #F4952F;
        transition: 0.2s;
        color: #fff;
      }

      .side {
        margin-top: 20vh;
        display: flex;
        flex-direction: row;
        gap: 4vw;

        .square {
          display: flex;
          flex-direction: column;
          text-align: center;
          align-items: center;
          justify-content: space-between;
          background-color: #221059;
          color: #fff;
          padding: 5vh 3vw;
          border-radius: 12px;
          gap: 2vh;
        }

        .square:hover {
          box-shadow: 0px 00px 20px #221059;
          transition: 0.2s;
          color: #fff;
        }
      }

      .up {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 5vh;
        color: #fff;

        .sep {
          display: flex;
          flex-direction: row;
          align-items: center;
          text-align: center;
          justify-content: space-between;
          gap: 20px;

          .info {
            display: flex;
            width: 20vw;
            height: 20vh;
            background-color: #221059;
            color: #fff;
            border-radius: 12px;
            align-items: center;
            text-align: center;
            justify-content: center;

            img {
              width: 20vw;
              height: 20vh;
              border: solid 4px #221059;
              border-radius: 12px;
            }
          }

          .info:hover {
            box-shadow: 0px 00px 20px #221059;
            transition: 0.2s;
            color: #fff;
          }
        }
      }
    }
  }
}


@media (max-width: 1550px) {
  .pagina-home {

    main {

      .sessaoFinal {
        margin-top: 5vh;

        .side {
          margin-top: 15vh;

          .square {
            padding: 3vh 2vw;
          }
        }

        .up {

          .info {
            width: 15vw;
            height: 15vh;
          }
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .pagina-home {

    main {

      .sessaoInicial {

        img {
          width: 45vw;
        }

        .align {
          width: 55vw;
          height: 350PX;
        }
      }

      .sessaoFinal {

        .side {
          flex-direction: column;
        }
      }
    }
  }
}

@media (max-width: 1224px) {
  .pagina-home {

    main {

      .sessaoInicial {

        img {
          width: 45vw;
        }

        .align {
          width: 55vw;
          height: 250PX;
        }
      }

      .sessaoFinal {

        .side {
          h2 {
            font-size: larger;
          }
        }

        .up {

          h2 {
            font-size: larger;
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .pagina-home {
    background-image: url('../../../public/assets/images/BackgroundM.png');

    main {

      .sessaoInicial {
        flex-direction: column;

        img {
          width: 100vw;
          height: 40vh;
        }

        .align {
          width: 100vw;
          height: 20vh;

          h1 {
            width: 100%;
            font-size: medium;
          }

          .direction {
            gap: 0vw 15vw;

            a {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 24vw;
              height: 7vh;
              font-size: 0.8rem;
            }

            .line {
              height: 5vh;
              width: 0.5vw;
            }
          }
        }
      }

      .sessaoFinal {
        flex-direction: column-reverse;
        gap: 0vw;

        .up {

          .sep {

            .info {
              width: 40vw;
              height: 15vh;

              img {
                width: 30vw;
                height: 15vh;
              }
            }
          }
        }

        .side {
          gap: 3vw;
          margin-top: 5vh;
          margin-bottom: 5vh;

          .square {
            padding: 5vh 20vw;
          }
        }
      }
    }
  }
}

@media (max-width: 610px) {
  .pagina-home {

    main {

      .sessaoInicial {

        .align {

          .direction {

            a {
              font-size: 0.7rem;
              width: 30vw;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .pagina-home {

    main {

      .sessaoInicial {

        .align {

          .direction {

            a {
              font-size: 0.6rem;
            }
          }
        }
      }
    }
  }
}