.Nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 3vw;
    box-shadow: 0px 10px 100px #433572;
    background-color: #433572;
    width: 100%;
    height: 15vh;
    z-index: 1;

   
    .img {
        width: 13vw;
    }

    h1 {
        display: none;
        margin-left: 15vw;
    }

    h1 {
        color: #fff;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .sec {
        width: 15vw;
        display: flex;
        justify-content: space-between;

        a {
            color: #fff;
            font-size: large;
            text-decoration: underline;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            padding: 10px 30px;
            border-radius: 12px;
        }

        a:hover {
            color: #433572;
            background-color: #F4952F;
            text-decoration: none;
            padding: 10px 30px;
            border-radius: 12px;
            font-weight: 700;
            transition: 0.2s;
            box-shadow: 0px 00px 50px #F4952F;
        }
    }

    .line {
        height: 7vh;
        width: 0.2vw;
        background-color: #fff;
    }

    .lupa {
        display: none;
    }

    .input {
        display: flex;
        width: 15vw;
        height: 5vh;
        padding-left: 1vw;
        border-radius: 12px;
        border: solid 1px #fff;
        align-items: center;

        img {
            width: 13vw;
        }

        input {
            width: 15vw;
            height: 5vh;
            outline: none;
            padding-left: 1vw;
            border-radius: 12px;
            background-color: transparent;
            align-self: flex-end;
            border: none;

            &:hover {
                &::placeholder {
                    color: #fff;
                    border: none;
                }
            }

            &::placeholder {
                color: #d8d8d8;
            }
        }
    }
}

@media (max-width: 900px) {
    .Nav {

        .img {
            display: none;
        }

        h1 {
            display: flex;
        }

        .sec {
            display: none;
        }

        .lupa {
            display: flex;

            img {
                width: 5vw;
            }
        }

        .input{
            display: none;
        }
    }
}